<div class="container">
    <div style="text-align:center">
      <h2>
        Otentiq Detail Produk
      </h2>  
    </div>
  
    <div *ngIf="produk_detail">
      <h3>{{produk_detail.nama}}</h3>
      <div><img [src]="produk_detail.file_foto" width="300"> </div>
      <div>Harga: {{produk_detail.harga}} </div>
      <div>{{produk_detail.deskripsi}} </div>
    </div>
    <div *ngIf="!(produk_detail)">Loading..</div>



  
    <div style="margin-top: 50px;">
        <a [routerLink]="['/home']" routerLinkActive="btn btn-success" class="btn btn-primary">ke home</a>
      </div>
  </div>