<div class="container">
  <div style="text-align:center">
    <h2>
      Otentiq
    </h2>  
  </div>

  <h3>Produk Terbaru</h3>
  <div class="row" *ngIf="(produks)">
    
    <div *ngFor="let produk of produks" class="col-sm-3">
      <a [routerLink]="['/detail/'+produk.permalink]" ><strong>{{produk.nama}}</strong></a><br />
      <img [src]="produk.thumbnail" width="150"> <br />
      {{produk.harga}}      
    </div>

  </div>

  <div *ngIf="!(produks)">Loading..</div>

  <div style="margin-top: 50px;">
    <a [routerLink]="['/about']" routerLinkActive="btn btn-success" class="btn btn-primary">ke about</a>
  </div>
</div>